# Global ignoring of different binaries and another temporary files

# System cache
.DS_Store
Thumbs.db

# Visual Studio cache and settings
.vs/
*.suo
*.user

# NuGet cache
.nuget/

# Build results
bin/
obj/
